<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head')%>
</head>

<body>

    <%- include('./partials/navigation')%>
        <header class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center aling-items-center">
                <img src="./img/images_avisos_pagina_construccion.png" alt="In construction page" class="w-100">
                <h1 class="display-1 my-5 text-uppercase fw-bold">Buenos Aires VRV </h1>
                <a href="https://www.youtube.com/watch?v=-9A-sy5k7-Q" target="_blank" class="btn btn-primary w-30 ">Música</a>
            </div>
        </header>
        <%- include('./partials/footer')%>

</body>

</html>