<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head')%>
</head>

<body>

    <%- include('./partials/navigation')%>
        <header class="container vh-110 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center aling-items-center" >
                <img src="./img/images_avisos_pagina_construccion.png" alt="In construction page" class="w-100">
                <h1 class="display-1 my-5 text-uppercase fw-bold">Buenos Aires VRV </h1>
                <div class="w-100 d-flex justify-content-center align-items-center">
                    <a href="https://www.youtube.com/watch?v=-9A-sy5k7-Q" target="_blank" class="btn btn-primary w-10 mb-4">Music</a>
                    <div class="d-flex align-items-end">
                        <div class="flex-shrink-0">
                            <img src="#" alt="" width="300">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mt-0">Music</h5>
                            <p>This is some content from a media component. It's music for relax between you coding!. </p>
                      </div>
                    </div>
                    
                    
                    ></div>
                </div>
            </div>
        </header>
        <%- include('./partials/footer')%>

</body>

</html>